@import url("https://code.highcharts.com/css/highcharts.css");

#covid-cases, #covid-deaths, #covid-recovered {
    min-height: 550px;
}

.highcharts-background {
    fill: #efefef;
    stroke: #ffffff;
    stroke-width: 15px;
}